
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
</style>
*{
     margin: 0;
     padding: 0;
     box-sizing:border-box;
     font-family: 'Roboto', sans-serif;
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .6rem .6rem;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.7);
    background: black;
}
section{
    width: 100%;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
/****home****/

#home{
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)), url(break.png);
    background-size: cover;
    background-position: center;
}

#home h1{
    font-size: 100px;
    color: white;
    letter-spacing: 3px;
    text-shadow: 0px 1px 0px #ccc,
                 0px 2px 0px #ccc,
                 0px 3px 0px #ccc,
                 0px 4px 0px #ccc,
                 0px 5px 0px #ccc,
                 0px 6px 0px #ccc,
                 0px 7px 0px #ccc,
                 0px 8px 0px #ccc;
}

#Product {
    background: #e5e5e5;
}

#Product h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
    text-shadow: 0px 1px 0px #ccc,
                 0px 2px 0px #ccc,
                 0px 3px 0px #ccc,
                 0px 4px 0px #ccc,
                 0px 5px 0px #ccc,
                 0px 6px 0px #ccc,
                 0px 7px 0px #ccc,
                 0px 8px 0px #ccc;
}


.card{
    width: 250px;
    height:200px;
    background: #e5e5e5 !important;
    border: #e5e5e5;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3),
                inset 4px 4px  10px rgba(0,0,0,.3) ;
}

.container-fluid{}

#Contact{
    background: #e5e5e5;
}

#Contact {
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
    text-shadow: 0px 1px 0px #ccc,
                 0px 2px 0px #ccc,
                 0px 3px 0px #ccc,
                 0px 4px 0px #ccc,
                 0px 5px 0px #ccc,
                 0px 6px 0px #ccc,
                 0px 7px 0px #ccc,
                 0px 8px 0px #ccc;
}
