#carouselExample{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    padding: .6rem .6rem;
}

.slide {
    width: 100%;
    min-height: 60vh;
    display:flex;
    height: 50px;
    width: 60vh;
}